<p id="notice"><%= notice %></p>

<p>
  <strong>Number</strong>
  <%= @train.number %>
</p>

  <%= link_to "Edit this train", edit_train_path(@train) %> |
  <%= link_to "Back to trains", trains_path %>
