<h1>Editing railway station</h1>

<%= render "form", railway_station: @railway_station %>

<br>

<div>
  <%= link_to "Show this railway station", @railway_station %> |
  <%= link_to "Back to railway stations", railway_stations_path %>
</div>
