<p id="notice"><%= notice %></p>

<p>
  <strong>Titile</strong>
  <%= @railway_station.title %>
</p>

  <%= link_to "Edit this railway station", edit_railway_station_path(@railway_station) %> |
  <%= link_to "Back to railway stations", railway_stations_path %>
